@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #00d8ff;
  --primary-purple: #6a00ff;
  --back-ground: #ffffff;
  --primary-color: #1EA6CC;
}

/* .rb{
box-sizing: border-box;
width: 55px;
height: 71px;
left: 691px;
top: 851px;

border: 3px solid red;
border-radius: 10px;
} */

.login {
  @apply bg-gradient-to-r from-[var(--back-ground)] to-[var(--back-ground)] py-2 px-6;
}
/* 
.tran{
  transform: matrix(0, 1, 1, 0, 0, 0);
} */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@layer base {
  * {
    @apply font-[Dosis];
  }
  li {
    @apply p-4 text-xl;
  }

  .btn1 {
    @apply bg-gradient-to-r from-[var(--back-ground)] to-[var(--back-ground)] py-3 px-7 rounded-3xl;
  }
   .btn2 {
    @apply bg-gradient-to-r from-[var(--primary-color)] to-[var(--primary-color)] py-3 px-7 rounded-3xl;
  }
}